.botao {
    background-color: #6278f7;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    padding: 1.8em;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin: 1.8em 0;
}

.botao:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #4f63e0;
}