<div class="moment" *ngIf="moment">
    <h1>{{ moment.title }}</h1>
    <img src="{{baseApiUrl}}uploads/{{moment.image}}"
     alt="{{moment.title}}">
     <div class="about-moment">
        <h3>Sobre este momento:</h3>
        <p>{{ moment.description}}</p>
     </div>
     <div class="action">
        <h3>Ações</h3>
        <a routerLink="/moments/edit/{{moment.id}}" class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon>
            Editar 
        </a>
        <button class="remove-btn" (click)="removeHandler(moment.id!)">
            <fa-icon [icon]="faTime"></fa-icon>
            Excluir
        </button>
     </div>
     <!-- Tod's comentarios -->
     <div class="comments">
        <h3>Comentarios (0):</h3>
     </div>
</div>