<header>
    <nav>
        <a routerLink="/">Home </a>
        <a routerLink="/list">Lista</a>
        <a routerLink="/parentData">parentData</a>
        <a routerLink="/directives">directives</a>
        <a routerLink="/ifRender">ifRender</a>
        <a routerLink="/eventos">eventos</a>
        <a routerLink="/Emitter">Emitter</a>
        <a routerLink="/pipes">pipes</a>
        <a routerLink="/twobinding">twobinding</a>
    </nav>
    <div class="aula">
        <h1>{{title}}</h1>
        <p>{{paragraph}}</p>
    </div>
</header>
<article>
    <router-outlet></router-outlet>
</article>
<footer>
    <p></p>
</footer>