<form>
    <div class="form-group">
        <label for="title">Títutlo:</label>
        <input type="text" placeholder="Coloque aqui um título" required>
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea placeholder="Conte oq Aconteceu lá!" required></textarea>
    </div>
    <div class="form-group">
        <label for="image">Coloque aqui a imagem</label>
        <input type="file">
    </div>
    <input type="submit" value="{{ btnText }}">
</form>