<div class="aula">
    <h3>{{ "Algum texto aqui!" | uppercase}}</h3>
    <h3>{{ "Algum texto aqui!" | lowercase}}</h3>
    <!-- Transforma o texto para o formato de titulo, onde a primeira letra fica maiuscula e as restantes minusculas de cada palavra(someText está toda em UpperCase) -->
    <h2>{{ someText | titlecase}}</h2>

    <!-- Today me passa a tada atual com varia outras informções, e o Pipe date transforma em uma data com apenas as informaçoes que quero -->
    <h2>{{today | date: "fullDate"}}</h2>

    <Ul>
        <li>
            <!-- Pipe Currency https://angular.io/api/common/CurrencyPipe#input-value Transforma em moeda -->
            <!--output '$0.26'-->
            <p>A: {{a | currency}}</p>

            <!--output 'CA$0.26'-->
            <p>A: {{a | currency:'CAD'}}</p>

            <!--output 'CAD0.26'-->
            <p>A: {{a | currency:'CAD':'code'}}</p>

            <!--output 'CA$0,001.35'-->
            <p>B: {{b | currency:'CAD':'symbol':'4.2-2'}}</p>

            <!--output '$0,001.35'-->
            <p>B: {{b | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>

            <!--output '0 001,35 CA$'-->
            <p>B: {{b | currency:'CAD':'symbol':'4.2':'fr'}}</p>

            <!--output 'CLP1' because CLP has no cents-->
            <p>B: {{b | currency:'CLP'}}</p>
        </li>

        <li>
            <!-- DecimalPipe tranforma em formato de decimal https://angular.io/api/common/DecimalPipe -->

            <p>
                No specified formatting:
                {{pi | number}}
                <!--output: '3.142'-->
            </p>

            <p>
                With digitsInfo parameter specified:
                {{pi | number:'4.1-5'}}
                <!--output: '0,003.14159'-->
            </p>

            <!-- Da errado pq aqui esta no brasil -->
            <p>
                With digitsInfo and
                locale parameters specified:
                {{pi | number:'4.1-3-5':'fr'}}
                <!--output: '0 003,14159'-->
            </p>

        </li>
        <li>
            <!-- PercentPipe Tranforma a String em Percentual  -->
            
            <!--output '26%'-->
            <p>A: {{a | percent}}</p>

            <!--output '0,134.950%'-->
            <p>B: {{b | percent:'4.3-5'}}</p>

            <!--output '0 134,950 %'-->
            <p>B: {{b | percent:'4.3-5':'fr'}}</p>
        </li>
    </Ul>
</div>