.campo-texto {
    margin: 1.5em 0;
}

.campo-texto label {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: bold;
}

.campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;

    border-radius: 4px;
    border: none;
    font-size: 1.5em;
    padding: 1.5em;
    box-sizing: border-box;
}